@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

a{
    color: blue;
    text-decoration-line: underline;
    
}
a:hover{
    color: blueviolet;
}
a.btn, btn{
    background-color: var(--color-blue-500);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: var(--color-white);
    border-radius: 10px;
}
a.btn:hover, btn:hover{
    background-color: var(--color-purple-500);
}

 


input{
    background-color: var(--color-blue-100);
    border-width: thin;
    border-color: var(--color-blue-300);
    border-radius: 10px;
    margin-bottom: 15px;
}

textarea{
    background-color: var(--color-blue-100);
    border-width: thin;
    border-color: var(--color-blue-300);
    border-radius: 10px;
    margin-bottom: 15px;
}

button{
    background-color: var(--color-gray-500);
    padding: 10px;
    text-align: center;
    color: var(--color-white);
    border-radius: 10px;
}
button:hover{
    background-color: var(--color-gray-600);
}
.error-msg{
    color: var(--color-red-700);
    font-size: 0.8rem;
}

.btn-delete{
    background-color: var(--color-amber-500);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: var(--color-white);
    border-radius: 10px;
}
.btn-delete:hover{
    background-color: var(--color-amber-900);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: var(--color-white);
}  