@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

}

a{
    text-decoration-color: rgb(0, 0, 0);
}
a:hover{
    text-decoration-line: none;
}
a.btn, btn{
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}


input{
    background-color: var(--color-blue-100);
    border-width: thin;
    border-color: var(--color-blue-300);
    border-radius: 10px;
    margin-bottom: 15px;
}

textarea{
    background-color: var(--color-blue-100);
    border-width: thin;
    border-color: var(--color-blue-300);
    border-radius: 10px;
    margin-bottom: 15px;
}

button{
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}


.error-msg{
    color: var(--color-red-700);
    font-size: 0.8rem;
}

.btn-delete{
    background-color: var(--color-amber-500);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: var(--color-white);
    border-radius: 10px;
}
.btn-delete:hover{
    background-color: var(--color-amber-900);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: var(--color-white);
}  